$('#dice-result').html("<%= escape_javascript(render(partial: 'shared/dice_results', locals: { results: @dice_result, result_text: @raw_result_text, system: @system })).html_safe %>");
$('#computed-result').html("<%= escape_javascript(render(partial: 'shared/computed_results', locals: { results: @results, result_text: @result_text, system: @system })).html_safe %>");
$('#dice-rolling').hide()
$('#dice-result').show()
$('#computed-result').show()

if ('<%= @log_date %>'.length > 0) {
 log = JSON.parse(localStorage.getItem('roll_log_star_wars')) || []

 if (log.length >= DiceRoller.logLimit()) {
  log.pop();
 }

 log.push({
   "time": '<%= @log_date %>',
   "diceText": '<%= escape_javascript(@log_dice_text) %>',
   "resultText": '<%= escape_javascript(@log_result_text) %>',
   "tag": '<%= escape_javascript(@roll_tag) %>',
 })

 try {
   localStorage.setItem('roll_log_star_wars', JSON.stringify(log));
 } catch (e) {
   if (e == QUOTA_EXCEEDED_ERR) {
     alert('Quota exceeded!');
   }
 }

  // Populate log table.
  var last_log = log[log.length - 1];

  t = $('#roll-log-table').DataTable();
  t.row.add([
    DiceRoller.formatLogDate(last_log.time),
    last_log.diceText,
    last_log.resultText,
    last_log.tag,
    "<div class='btn-group' role='group' data-dice-rolled='" + last_log.diceText + "' data-log-id='" + (log.length - 1) + "'><button class='btn btn-sm btn-success reroll-from-log'>Reroll</button><button class='btn btn-sm btn-danger delete-from-log'>Delete</button></div>"
  ]).select().draw(false);
}

// Hide stuff in in modal.
var loc = window.location.href;
if(loc.includes('embed=modal')) {
  $('#star_wars-roll').hide();
}
