- if !results.nil? && results.count > 0
  .row
    .col-sm-12
      .card.mb-3.bg-light
        - if system == 'genesys'
          .card-body
            - if results[:successes]
              - results[:successes].times do
                = image_tag("#{system}/symbols/success.svg", size: '50')
            - if results[:advantages]
              - results[:advantages].times do
                = image_tag("#{system}/symbols/advantage.svg", size: '50')
            - if results[:triumphs]
              - results[:triumphs].times do
                = image_tag("#{system}/symbols/triumph.svg", size: '50')
            - if results[:failures]
              - results[:failures].times do
                = image_tag("#{system}/symbols/failure.svg", size: '50')
            - if results[:threats]
              - results[:threats].times do
                = image_tag("#{system}/symbols/threat.svg", size: '50')
            - if results[:despairs]
              - results[:despairs].times do
                = image_tag("#{system}/symbols/despair.svg", size: '50')
            - if results[:blacks]
              - results[:blacks].times do
                = image_tag("#{system}/symbols/force_black.svg", size: '50')
            - if results[:whites]
              - results[:whites].times do
                = image_tag("#{system}/symbols/force_white.svg", size: '50')
        - else
          .card-body
            - if results[:successes]
              - results[:successes].times do
                = image_tag("symbols/#{system}/success.png", size: '50')
            - if results[:advantages]
              - results[:advantages].times do
                = image_tag("symbols/#{system}/advantage.png", size: '50')
            - if results[:triumphs]
              - results[:triumphs].times do
                = image_tag("symbols/#{system}/triumph.png", size: '50')
            - if results[:failures]
              - results[:failures].times do
                = image_tag("symbols/#{system}/failure.png", size: '50')
            - if results[:threats]
              - results[:threats].times do
                = image_tag("symbols/#{system}/threat.png", size: '50')
            - if results[:despairs]
              - results[:despairs].times do
                = image_tag("symbols/#{system}/despair.png", size: '50')
            - if results[:blacks]
              - results[:blacks].times do
                = image_tag("symbols/#{system}/force_black.png", size: '50')
            - if results[:whites]
              - results[:whites].times do
                = image_tag("symbols/#{system}/force_white.png", size: '50')
        .card-footer
          %strong The end result:
          - if result_text.blank?
            %strong Wash!
            %i Your dice result came up blank.
          .h4.mb-0= result_text.join(', ')
          - if results[:triumphs] && results[:triumphs] > 0
            .col-sm-12
              %small * Sucesses from triumphs are calculated as additional successes.
          - if results[:despairs] && results[:despairs] > 0
            .col-sm-12
              %small ** Failures from despairs are calculated as additional failures.
