- unless results.nil?
  - if results.count > 0
    .row
      .col-sm-12
        .card.mb-3.bg-light
          - if system == 'polyhedron'
            .card-body
              %table.table.table-striped.table-sm#polyhedron-results
                %thead.thead-dark
                  %tr
                    %th.text-center Dice
                    %th.text-center Rolls
                    %th.text-center Result
                %tbody
                  - results.each do |result|
                    - next if result[1][:rolls].blank?
                    %tr
                      %td.text-center= "#{result[1][:rolls].count}#{result[0].upcase}#{sprintf("%+d", result[1][:modifier]) if result[1][:modifier] != 0}"
                      %td.text-center= "#{result[1][:rolls].to_sentence(last_word_connector: ', ', two_words_connector: ', ')}"
                      %td.text-center= "#{result[1][:total]}"
          - else
            .card-body
              - results.each do |result|
                - if result['icon'] == 'd100'
                  .numdice
                    %span
                      = 'D'
                      %br
                      = '100'
                - else
                  .facedice
                    - if system == 'genesys'
                      = image_tag("#{system}/dice_faces/#{result[:dice]}-#{result[:icon]}.svg", size: '80')
                    - else
                      = image_tag("dice/#{system}/#{result[:dice]}-#{result[:icon]}.png", size: '50')
            .card-footer.text-muted
              %strong The dice rolled:
              = result_text.join(', ')