.row.mt-5
  .col-sm-6
    %h4.text-left
      Your recent rolls
  .col-sm-6
    .text-right
      %small= link_to 'Clear roll log', "", class: 'btn btn-danger btn-sm', id: 'clearLog', data: {system: @system}
      -#%small= link_to 'Share roll log', "rolls/#{@user_uuid}", class: 'btn btn-info btn-sm'
%table#roll-log-table.table.table-striped.table-bordered{style: "width:100%"}
  %thead
    %tr
      %th Time
      %th Dice
      %th Result
      %th Tag
      %th
  %tbody
  - unless (@system == 'xwing')
    %tfoot
      %tr
        %td{colspan:5}
          %small * Sucesses from triumphs have been calculated as additional successes.
          %br
          %small ** Failures from despairs have been calculated as additional failures.


