.input-group.mb-1{ data: { dice: dice } }
  .input-group-prepend.decrease
    %span.input-group-text= "-"
  = number_field_tag(dice.to_sym, @dice_rolled[dice.to_sym], { id: dice, min: 0, class: 'dice form-control', style: '' })
  .input-group-append.increase
    %span.input-group-text= "+"
