.input-group.mb-1{ data: { dice: "#{dice}mod" } }
  .input-group-prepend.decrease
    %span.input-group-text= "-"
  = number_field_tag("#{dice}mod".to_sym, @dice_rolled["#{dice}mod".to_sym], { id: "#{dice}mod", class: 'dice form-control', style: '' })
  .input-group-append.increase
    %span.input-group-text= "+"
