- content_for :title do
  Polyhedral Dice

.row.hidden-modal
  .col-sm-12
    %h1
      Polyhedral Dice
.row
  .col-sm-12
    #dice-result{'aria-hidden':"true"}
    .row
      .col-sm-12.col-md-8
        #dice-rolling{'aria-hidden':"true"}
          .card.mb-3.bg-light
            .card-body
              = image_tag('dice/polyhedron/rolling.gif', size: '100')
        = form_tag(polyhedron_roll_path, id: 'polyhedron-roll', remote: true) do
          .row
            .col-12
              .diceTable
                .diceTableRow
                  .diceTableHead
                    Dice
                  .diceTableHead.text-center
                    Amount
                  .diceTableHead.text-center
                    Modifier
                .diceTableRow
                  .diceTableCell.label D4
                  .diceTableCell
                    = render partial: 'poly_dice_amount', locals: {dice: 'd4'}
                  .diceTableCell
                    = render partial: 'poly_dice_modifier', locals: {dice: 'd4'}
                .diceTableRow
                  .diceTableCell.label  D6
                  .diceTableCell
                    = render partial: 'poly_dice_amount', locals: {dice: 'd6'}
                  .diceTableCell
                    = render partial: 'poly_dice_modifier', locals: {dice: 'd6'}
                .diceTableRow
                  .diceTableCell.label  D8
                  .diceTableCell
                    = render partial: 'poly_dice_amount', locals: {dice: 'd8'}
                  .diceTableCell
                    = render partial: 'poly_dice_modifier', locals: {dice: 'd8'}
                .diceTableRow
                  .diceTableCell.label  D10
                  .diceTableCell
                    = render partial: 'poly_dice_amount', locals: {dice: 'd10'}
                  .diceTableCell
                    = render partial: 'poly_dice_modifier', locals: {dice: 'd10'}
                .diceTableRow
                  .diceTableCell.label  D12
                  .diceTableCell
                    = render partial: 'poly_dice_amount', locals: {dice: 'd12'}
                  .diceTableCell
                    = render partial: 'poly_dice_modifier', locals: {dice: 'd12'}
                .diceTableRow
                  .diceTableCell.label  D20
                  .diceTableCell
                    = render partial: 'poly_dice_amount', locals: {dice: 'd20'}
                  .diceTableCell
                    = render partial: 'poly_dice_modifier', locals: {dice: 'd20'}
                .diceTableRow
                  .diceTableCell.label D100
                  .diceTableCell
                    = render partial: 'poly_dice_amount', locals: {dice: 'd100'}
                  .diceTableCell
                    = render partial: 'poly_dice_modifier', locals: {dice: 'd100'}
          .row
            .col-sm-12.hidden-modal
              .row
                .col-sm-6
                  .form-check
                    - if @dice_rolled[:keep] == 'true'
                      = check_box_tag(:keep_dice, 1, {:checked => "checked"}, class: 'form-check-input')
                    - else
                      = check_box_tag(:keep_dice, 1, false, class: 'form-check-input')
                    %label.form-check-label{:for => "keep_dice"}
                      Remember dice
                  .form-check
                    - if @dice_rolled[:log] == 'true'
                      = check_box_tag(:persist, 1, {:checked => "checked"}, class: 'form-check-input')
                    - else
                      = check_box_tag(:persist, 1, false, class: 'form-check-input')
                    %label.form-check-label{:for => "persist"}
                      Save roll to log
                .col-sm-6
                  .input-group.mb-3
                    = text_field_tag(:tag, @dice_rolled[:tag], { id: 'tag', class: 'tag form-control', placeholder: 'Tag or short description'})
          .row
            .col-sm-12.mt-3
              .form-actions
                = hidden_field_tag(:user_uuid, @user_uuid)
                = submit_tag 'Roll Dice', class: 'btn btn-primary'
                = link_to "Clear Dice", '/polyhedron/clear', class: 'btn btn-outline-info clear hidden-modal'

.row.hidden-modal
  .col-sm-12{'aria-hidden':"true"}
    #roll-log
      = render partial: 'shared/roll_log'

.row.hidden-modal
  .col-sm-12{'aria-hidden':"true"}
    Select the dice to roll and click the button.
    /Share roll results on gaming forums using bbCode or RuBB.
