- content_for :title do
  About

.row
  .col-sm-12
    %h1
      About the RPG Dice Roller
.row.mb-3
  .col-sm-12
    RPG Dice Roller is a free online gaming system dice roller.

.row.mb-3
  .col-sm-8
    %script{:async => "", :defer => "defer", :src => "https://platform.linkedin.com/badges/js/profile.js", :type => "text/javascript"}
    %h3 Who made this?
    My name is Christian Nikolajsen and I live in Denmark. I'm a web developer working with Drupal
    professionally and Ruby on Rails as a hobby.<br>
    I'm a major Star Wars geek and Pen&Paper RPG gamer.
  .col-sm-4
    .LI-profile-badge{"data-locale" => "en_US", "data-size" => "medium", "data-theme" => "dark", "data-type" => "horizontal", "data-vanity" => "cnikolajsen", "data-version" => "v1"}
      %a.LI-simple-link{:href => "https://dk.linkedin.com/in/cnikolajsen?trk=profile-badge"} Christian Nikolajsen

.row.mb-3
  .col-sm-12
    %h3 Why make this?
    I created this dice roller app mainly because of my love of RPG gaming and
    especially the narrative Star Wars System from Fantasy Flight Games, but
    also for the programming experience.

.row.mb-3
  .col-sm-12
    %h3 Is it free?
    %p
      Yes, this is totally free and open-source, but if you love what I've
      created then please  consider a donation to support my work.
      This is a hobby project and thus it run on a free hosting plan.
      Any donations will go towards upgrading the hosting plan.
    %p
      This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA International</a> license.
      %br
      %a{ rel: 'license', href: 'http://creativecommons.org/licenses/by-nc-sa/4.0/' }
        %img{ alt: 'Creative Commons License', style: 'border-width:0', src: 'https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png' }

.row.mb-3
  .col-sm-12
    %p
      This project is done in the <a href="https://rubyonrails.org/" target="_blank">Ruby On Rails</a> programming language (currently using version 5.2).<br>
      For the frontend I'm using <a href="https://getbootstrap.com/" target="_blank">Bootstrap 4</a>.<br>
      Icons are created in <a href="https://inkscape.org/" target="_blank">Inkscape</a>.<br>
      All the code is <a href="https://bitbucket.org/Cenix/dice_roller">available online</a> and open to contributions from others.<br>
      Contributions would be awesome. You are free to do what you like with the
      code as long as you provide attributions and don't make money off of it.

.row.mb-3
  .col-sm-12
    %h3 There's a bug
    %p Well accidents do happen. Please report them on the <a href="https://bitbucket.org/Cenix/dice_roller/issues">issues page</a> and I'll get right on it.
    %p If you have problems with the roll log then you should try to delete the roll_log entry from your browser's local storage.

.row.mb-3
  .col-sm-12
    %h3 I have a suggestion
    Excellent! Any suggestions for improvements or additions is happily accepted.
    Please submit your suggestion on the <a href="https://bitbucket.org/Cenix/dice_roller/issues">issues page</a>.
