- content_for :title do
  X-Wing miniatures

.row
  .col-sm-12
    %h1
      Star Wars X-Wing
      %small Miniatures Game
.row
  .col-sm-12
    #dice-result{'aria-hidden':"true"}
      - if @latest_roll
        .panel
          = render partial: 'shared/dice_results', locals: { results: @latest_roll['dice_result'], result_text: @latest_roll['raw_result_text'], system: @latest_roll['system'] }
    -#.row
    -#  .small-12.coliumns
    -#    = @roll_path
    .row
      .col-sm-12.col-md-6
        #dice-rolling{'aria-hidden':"true"}
          .card.mb-3.bg-light
            .card-body
              = image_tag('dice/xwing/rolling.gif', size: '100')
        = form_tag(xwing_roll_path, id: 'xwing-roll', remote: true) do
          .row
            .col-sm-6
              .input-group.mb-3{ data: { dice: 'attack' } }
                .input-group-prepend.decrease
                  %span.input-group-text.rotateimg180= image_tag('dice/xwing/attack-dec.png', size: '30')
                = number_field_tag(:a, @dice_rolled[:a], { id: 'attack', min: 0, class: 'dice form-control' })
                .input-group-append.increase
                  %span.input-group-text= image_tag('dice/xwing/attack-inc.png', size: '30')
            .col-sm-6
              .input-group.mb-3{ data: { dice: 'defense' } }
                .input-group-prepend.decrease
                  %span.input-group-text.rotateimg180= image_tag('dice/xwing/defense-dec.png', size: '30')
                = number_field_tag(:d, @dice_rolled[:d], { id: 'defense', min: 0, class: 'dice form-control' })
                .input-group-append.increase
                  %span.input-group-text= image_tag('dice/xwing/defense-inc.png', size: '30')

          -#.col-sm-12
          -#  .form-check
          -#    = check_box_tag(:persist, 1, {:checked => "checked"}, class: 'form-check-input')
          -#    %label.form-check-label{:for => "persist"}
          -#      Save roll to log
          .row
            .col-sm-12.hidden-modal
              .row
                .col-sm-6
                  .form-check
                    - if @dice_rolled[:keep] == 'true'
                      = check_box_tag(:keep_dice, 1, {:checked => "checked"}, class: 'form-check-input')
                    - else
                      = check_box_tag(:keep_dice, 1, false, class: 'form-check-input')
                    %label.form-check-label{:for => "keep_dice"}
                      Remember dice
                  .form-check
                    - if @dice_rolled[:log] == 'true'
                      = check_box_tag(:persist, 1, {:checked => "checked"}, class: 'form-check-input')
                    - else
                      = check_box_tag(:persist, 1, false, class: 'form-check-input')
                    %label.form-check-label{:for => "persist"}
                      Save roll to log
                .col-sm-6
                  .input-group.mb-3
                    = text_field_tag(:tag, @dice_rolled[:tag], { id: 'tag', class: 'tag form-control', placeholder: 'Tag or short description'})
          .row
            .col-sm-12.mt-3
              .form-actions
                = hidden_field_tag(:user_uuid, @user_uuid)
                = submit_tag 'Roll Dice', class: 'btn btn-primary'
                = link_to "Clear Dice", '/xwing/clear', class: 'btn btn-outline-info clear'

.row.hidden-modal
  .col-sm-12{'aria-hidden':"true"}
    #roll-log
      = render partial: 'shared/roll_log'

.row.hidden-modal
  .col-sm-12{'aria-hidden':"true"}
    This is a dice roller for the Star Wars X-Wing Miniatures Game from Fantasy Flight Games.
    Select the dice to roll and click the button.
