- content_for :title do
  Genesys (FFG)

.row.hidden-modal
  .col-sm-12
    %h1
      Genesys RPG
      %small FFG narrative system
.row
  .col-sm-12
    #dice-result{'aria-hidden':"true"}
      - if @latest_roll
        = render partial: 'shared/dice_results', locals: { results: @latest_roll['dice_result'], result_text: @latest_roll['raw_result_text'], system: @latest_roll['system'] }
    #computed-result
      - if @latest_roll
        = render partial: 'shared/computed_results', locals: { results: @latest_roll['results'], result_text: @latest_roll['result_text'], system: @latest_roll['system'] }
    /.row
    /  .col-sm-12.columns
    /    = @roll_path
    .row
      .col-sm-12.col-md-8
        #dice-rolling{'aria-hidden':"true"}
          .card.mb-3.bg-light
            .card-body
              = image_tag('dice/genesys/rolling.gif', size: '100')
        = form_tag(genesys_roll_path, id: 'genesys-roll', remote: true) do
          .row
            .col-sm-6.col-md
              .input-group.mb-3{ data: { dice: 'ability' } }
                .input-group-prepend.decrease
                  %span.input-group-text.rotateimg180= image_tag('genesys/buttons/ability_dec.svg', size: '45')
                = number_field_tag(:a, @dice_rolled[:a], { id: 'ability', min: 0, class: 'dice form-control', style: '' })
                .input-group-append.increase
                  %span.input-group-text= image_tag('genesys/buttons/ability_inc.svg', size: '45')
            .col-sm-6
              .input-group.mb-3{ data: { dice: 'proficiency' } }
                .input-group-prepend.decrease
                  %span.input-group-text.rotateimg180= image_tag('genesys/buttons/proficiency_dec.svg', size: '45')
                = number_field_tag(:p, @dice_rolled[:p], { id: 'proficiency', min: 0, class: 'dice form-control' })
                .input-group-append.increase
                  %span.input-group-text= image_tag('genesys/buttons/proficiency_inc.svg', size: '45')
            .col-sm-6
              .input-group.mb-3{ data: { dice: 'difficulty' } }
                .input-group-prepend.decrease
                  %span.input-group-text.rotateimg180= image_tag('genesys/buttons/difficulty_dec.svg', size: '45')
                = number_field_tag(:d, @dice_rolled[:d], { id: 'difficulty', min: 0, class: 'dice form-control' })
                .input-group-append.increase
                  %span.input-group-text= image_tag('genesys/buttons/difficulty_inc.svg', size: '45')
            .col-sm-6
              .input-group.mb-3{ data: { dice: 'challenge' } }
                .input-group-prepend.decrease
                  %span.input-group-text.rotateimg180= image_tag('genesys/buttons/challenge_dec.svg', size: '45')
                = number_field_tag(:c, @dice_rolled[:c], { id: 'challenge', min: 0, class: 'dice form-control' })
                .input-group-append.increase
                  %span.input-group-text= image_tag('genesys/buttons/challenge_inc.svg', size: '45')
            .col-sm-6
              .input-group.mb-3{ data: { dice: 'boost' } }
                .input-group-prepend.decrease
                  %span.input-group-text.rotateimg180= image_tag('genesys/buttons/boost_dec.svg', size: '45')
                = number_field_tag(:b, @dice_rolled[:b], { id: 'boost', min: 0, class: 'dice form-control' })
                .input-group-append.increase
                  %span.input-group-text= image_tag('genesys/buttons/boost_inc.svg', size: '45')
            .col-sm-6
              .input-group.mb-3{ data: { dice: 'setback' } }
                .input-group-prepend.decrease
                  %span.input-group-text.rotateimg180= image_tag('genesys/buttons/setback_dec.svg', size: '45')
                = number_field_tag(:s, @dice_rolled[:s], { id: 'setback', min: 0, class: 'dice form-control' })
                .input-group-append.increase
                  %span.input-group-text= image_tag('genesys/buttons/setback_inc.svg', size: '45')
          .col-sm-12.hidden-modal
            .row
              .col-sm-6
                .form-check
                  - if @dice_rolled[:keep] == 'true'
                    = check_box_tag(:keep_dice, 1, {:checked => "checked"}, class: 'form-check-input')
                  - else
                    = check_box_tag(:keep_dice, 1, false, class: 'form-check-input')
                  %label.form-check-label{:for => "keep_dice"}
                    Remember dice
                .form-check
                  - if @dice_rolled[:log] == 'true'
                    = check_box_tag(:persist, 1, {:checked => "checked"}, class: 'form-check-input')
                  - else
                    = check_box_tag(:persist, 1, false, class: 'form-check-input')
                  %label.form-check-label{:for => "persist"}
                    Save roll to log
              .col-sm-6
                .input-group.mb-3
                  = text_field_tag(:tag, @dice_rolled[:tag], { id: 'tag', class: 'tag form-control', placeholder: 'Tag or short description'})
          .col-sm-12.mt-3
            .form-actions
              = hidden_field_tag(:user_uuid, @user_uuid)
              = submit_tag 'Roll Dice', class: 'btn btn-primary'
              = link_to "Clear Dice", '/genesys/clear', class: 'btn btn-outline-info clear hidden-modal'

      /- if @dice_results.any?
      /  .col-sm-12.col-md-4.panel.hide-for-small-only{'aria-hidden':"true"}
      /    .col-sm-12
      /      %button.tiny#rubbcode_clip_button.my_clip_button{"data-clipboard-target" => "rubbcode", "data-clipboard-text" => "", :title => "Click me to copy to clipboard."}
      /        %b Copy result RuBB Code To Clipboard
      /      %small#rubbcode<
      /        = @rubbcode.join
      /    .col-sm-12
      /      %button.tiny#bbcode_clip_button.my_clip_button{"data-clipboard-target" => "bbcode", "data-clipboard-text" => "", :title => "Click me to copy to clipboard."}
      /        %b Copy result bbCode To Clipboard
      /      %small#bbcode<
      /        = @bbcode.join

.row.hidden-modal
  .col-sm-12{'aria-hidden':"true"}
    #roll-log
      = render partial: 'shared/roll_log'

.row.hidden-modal
  .col-sm-12{'aria-hidden':"true"}
    This is a dice roller for the Genesys RPG line from Fantasy Flight Games.
    Select the dice to roll and click the button.
    /Share roll results on gaming forums using bbCode or RuBB.
