/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 * require_self
 * require foundation_and_overrides
 * require cookies_eu
*/

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$nav-tabs-border-color:             $gray-900 !default;
//$nav-tabs-border-width:             $border-width !default;
//$nav-tabs-border-radius:            $border-radius !default;
$nav-tabs-link-hover-border-color:  $gray-200 $gray-200 $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $gray-700 !default;
$nav-tabs-link-active-bg:           $white !default;
$nav-tabs-link-active-border-color: $gray-900 $gray-900 $nav-tabs-link-active-bg !default;
$table-dark-color: $white;

@import "bootstrap";
@import "datatables.min";
@import "select.dataTables.min";
@import "select.bootstrap4.min";
@import "star_wars";
@import "xwing";
@import "polyhedron";

table.dataTable {
  thead {
    .sorting,
    .sorting_desc,
    .sorting_asc {
      background-image: none !important;
    }
  }
}
.dataTables_wrapper {
  .dataTables_paginate {
    .paginate_button {
      padding: 0 !important;
      margin: 0 !important;
      border: none !important;

      &:hover {
        border: none !important;
      }
      a {
        margin: 0 !important;
      }
    }
  }
}

#roll-log-table {
  &.dataTable tbody tr.selected {
    background-color: #b1d9b0;
  }
  td:first-child {
    width: 175px;
  }
}

.rotateimg180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

body {
    padding-top: 5rem;
}

.dice.form-control {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}

.facedice,
.numdice {
  float: left;
  //height: 60px;
  //width: 65px;
  margin: 0 5px;
}

.numdice {
  height: 45px;
  width: 45px;
  margin-left: 5px;
  border: 4px outset #887a7a;
  border-radius: 3px;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  background-color: #e2e1e1;
  line-height: 1em;
  padding-top: 6px;
}

#dice-rolling {
  display: none;
  text-align: center;
}

table.rolls {
  .dice {
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position-y: 42%;
    font-weight: bold;
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 8px;

    &.ability {
      background-image: url(<%= asset_path('dice/genesys/ability-blank.png') %>);
    }
    &.difficulty {
      background-image: url(<%= asset_path('dice/genesys/difficulty-blank.png') %>);
      color: #fff;
    }
    &.proficiency {
      background-image: url(<%= asset_path('dice/genesys/proficiency-blank.png') %>);
    }
    &.challenge {
      background-image: url(<%= asset_path('dice/genesys/challenge-blank.png') %>);
      color: #fff;
    }
    &.boost {
      background-image: url(<%= asset_path('dice/genesys/boost-blank.png') %>);
    }
    &.setback {
      background-image: url(<%= asset_path('dice/genesys/setback-blank.png') %>);
      color: #fff;
    }
    &.attack {
      background-image: url(<%= asset_path('dice/xwing/attack-blank.png') %>);
      color: #fff;
    }
    &.defense {
      background-image: url(<%= asset_path('dice/xwing/defense-blank.png') %>);
      color: #fff;
    }
  }
}

html.framed {
  padding-top: 1rem;

  .hidden-modal {
    display: none;
  }
}
