.polyhedron {
  .diceTable {
    display: table;

    .label {
      font-size: 2em;
      font-weight: bold;
    }

    .increase,
    .decrease {
      span {
        font-size: 2em;
        font-weight: bold;
      }
    }
  }
  .diceTableRow {
    display: table-row;

    .diceTableHead:nth-child(1),
    .diceTableCell:nth-child(1) {
      width: 20%;
    }
    .diceTableHead:nth-child(2),
    .diceTableCell:nth-child(2) {
      width: 40%;
      padding-right: 5px;
    }
    .diceTableHead:nth-child(3),
    .diceTableCell:nth-child(3) {
      width: 40%;
      padding-left: 5px;
    }
  }
  //.diceTableHeading {
  //  display: table-header-group;
  //}
  .diceTableBody {
    display: table-row-group;
  }
  .diceTableFoot {
    display: table-footer-group;
  }
  .diceTableCell, .diceTableHead {
    display: table-cell;
  }
  .diceTableHead {
    font-weight: bold;
    font-size: 1.5em;
  }

  #polyhedron-results {
    td {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
}
