// Place all the styles related to the StarWars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.xwing.roll {
  form {
    .decrease, .increase {
      cursor: pointer;
    }
  }

  #rubbcode, #bbcode {
    display: none;
  }
}