= form_for @roll do |f|
  - if @roll.errors.any?
    #error_explanation
      %h2= "#{pluralize(@roll.errors.count, "error")} prohibited this roll from being saved:"
      %ul
        - @roll.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :ability
    = f.number_field :ability
  .field
    = f.label :difficulty
    = f.number_field :difficulty
  .field
    = f.label :proficiency
    = f.number_field :proficiency
  .field
    = f.label :challenge
    = f.number_field :challenge
  .field
    = f.label :boost
    = f.number_field :boost
  .field
    = f.label :setback
    = f.number_field :setback
  .field
    = f.label :dice_result
    = f.text_field :dice_result
  .field
    = f.label :results
    = f.text_field :results
  .field
    = f.label :raw_result_text
    = f.text_field :raw_result_text
  .field
    = f.label :result_text
    = f.text_field :result_text
  .field
    = f.label :roll_params
    = f.text_field :roll_params
  .field
    = f.label :ip
    = f.text_field :ip
  .field
    = f.label :uuid
    = f.text_field :uuid
  .field
    = f.label :system
    = f.text_field :system
  .actions
    = f.submit 'Save'
