- content_for :title do
  Star Wars (FFG)

.row
  .col-sm-12
    %h1 Dice rolls
.row
  .col-sm-12
    - if admin_signed_in?
      = link_to 'Trim log', rolls_trim_path, class: 'button tiny'
      = link_to 'Truncate log', rolls_truncate_path, class: 'button tiny'
      = link_to 'Update geolocs', rolls_geoloc_path, class: 'button tiny'
    %table.rolls.table
      %thead
        %tr
          %th Date
          %th Dice
          /%th Dice result
          %th Results
          /%th Raw result text
          /%th Result text
          /%th Roll params
          - if admin_signed_in?
            %th Origin
          %th Uuid
          %th System
          - if admin_signed_in?
            %th

      %tbody
        - @rolls.each do |roll|
          %tr
            %td= roll.created_at.strftime("%F")
            - if roll.system == 'genesys' || roll.system == 'star_wars'
              %td{width:240}
                .dice.ability= roll.ability
                .dice.difficulty= roll.difficulty
                .dice.proficiency= roll.proficiency
                .dice.challenge= roll.challenge
                .dice.boost= roll.boost
                .dice.setback= roll.setback
            - if roll.system == 'xwing'
              %td{width:60}
                .dice.attack= roll.attack
                .dice.defense= roll.defense
            /%td= roll.dice_result.class
            %td
              %span.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => roll.result_text.to_sentence}
                - if roll.results[:successes]
                  - roll.results[:successes].times do
                    = image_tag("symbols/#{roll.system}/success.png", size: '20', title: 'Success')
                - if roll.results[:advantages]
                  - roll.results[:advantages].times do
                    = image_tag("symbols/#{roll.system}/advantage.png", size: '20')
                - if roll.results[:triumphs]
                  - roll.results[:triumphs].times do
                    = image_tag("symbols/#{roll.system}/triumph.png", size: '20')
                - if roll.results[:failures]
                  - roll.results[:failures].times do
                    = image_tag("symbols/#{roll.system}/failure.png", size: '20')
                - if roll.results[:threats]
                  - roll.results[:threats].times do
                    = image_tag("symbols/#{roll.system}/threat.png", size: '20')
                - if roll.results[:despairs]
                  - roll.results[:despairs].times do
                    = image_tag("symbols/#{roll.system}/despair.png", size: '20')
                - if roll.results[:blacks]
                  - roll.results[:blacks].times do
                    = image_tag("symbols/#{roll.system}/force_black.png", size: '20')
                - if roll.results[:whites]
                  - roll.results[:whites].times do
                    = image_tag("symbols/#{roll.system}/force_white.png", size: '20')
                - if roll.results[:hits]
                  - roll.results[:hits].times do
                    = image_tag("symbols/#{roll.system}/hit.png", size: '20')
                - if roll.results[:crits]
                  - roll.results[:crits].times do
                    = image_tag("symbols/#{roll.system}/crit.png", size: '20')
                - if roll.results[:evades]
                  - roll.results[:evades].times do
                    = image_tag("symbols/#{roll.system}/evade.png", size: '20')
                - if roll.results[:focuses]
                  - roll.results[:focuses].times do
                    = image_tag("symbols/#{roll.system}/focus.png", size: '20')
            - if admin_signed_in?
              %td
                - if roll.geoloc.nil? || roll.geoloc.empty?
                  = roll.ip
                - else
                  = roll.geoloc.join(', ')
            %td= roll.uuid
            %td= roll.system.humanize.titleize unless roll.system.nil?
            - if admin_signed_in?
              %td= link_to 'Destroy', roll, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br
    = paginate @rolls
