%p#notice= notice

%p
  %b Ability:
  = @roll.ability
%p
  %b Difficulty:
  = @roll.difficulty
%p
  %b Proficiency:
  = @roll.proficiency
%p
  %b Challenge:
  = @roll.challenge
%p
  %b Boost:
  = @roll.boost
%p
  %b Setback:
  = @roll.setback
%p
  %b Dice result:
  = @roll.dice_result
%p
  %b Results:
  = @roll.results
%p
  %b Raw result text:
  = @roll.raw_result_text
%p
  %b Result text:
  = @roll.result_text
%p
  %b Roll params:
  = @roll.roll_params
%p
  %b Ip:
  = @roll.ip
%p
  %b Uuid:
  = @roll.uuid
%p
  %b System:
  = @roll.system

= link_to 'Edit', edit_roll_path(@roll)
\|
= link_to 'Back', rolls_path
