- if flash[:error]
  .row
    .col-sm-12
      .alert-box.warning.radius{"data-alert" => ""}
        = h flash[:error].html_safe
- if flash[:notice]
  .row
    .col-sm-12
      .alert-box.info.radius{"data-alert" => ""}
        = h flash[:notice].html_safe
- if flash[:success]
  .row
    .col-sm-12
      .alert-box.success.radius{"data-alert" => ""}
        = h flash[:success].html_safe
- if flash[:alert]
  .row
    .col-sm-12
      .alert-box.warning.radius{"data-alert" => ""}
        = h flash[:alert].html_safe