/ Fixed navbar
%nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark.hidden-modal
  -#%button#sidebarCollapse.btn.btn-sm.btn-info.mr-4{:type => "button"}
  -#  %i{'data-feather': "menu", 'stroke-width': "1"}
  -#  %span Menu
  %a.navbar-brand{:href => "/"} RPG Dice Roller
  %button.navbar-toggler{"aria-controls" => "navbarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarCollapse.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item{class: current_class?(genesys_path)}
        #{link_to "Genesys RPG", genesys_path, class: 'nav-link'}
      %li.nav-item{class: current_class?(star_wars_path)}
        #{link_to "Star Wars RPG", star_wars_path, class: 'nav-link'}
      %li.nav-item{class: current_class?(xwing_roll_path)}
        #{link_to "Star Wars X-wing minis", xwing_roll_path, class: 'nav-link'}
      %li.nav-item{class: current_class?(polyhedron_roll_path)}
        #{link_to "Polyhedral Dice", polyhedron_roll_path, class: 'nav-link'}

    %ul.navbar-nav.ml-auto
      %li.nav-item.pr-3{class: ("active" if current_page('about'))}
        #{link_to 'About', about_path, class: 'nav-link'}
      -#%li.nav-item= render 'layouts/patreon'
      -#%li.nav-item
      -#  .nav-link or
      %li.nav-item= render 'layouts/kofi_donate'
      -#%li.nav-item{ class: current_class?(main_app.root_path) }
      -#  = link_to 'Home', main_app.root_path, class: 'nav-link'
      -#%li.nav-item{ class: current_class?(user_characters_path(current_user)) }
      -#  = link_to 'Characters', user_characters_path(current_user), class: 'btn btn-info'
      -#%li.nav-item{ class: current_class?(main_app.me_path) }
      -#  = link_to 'Profile', main_app.me_path, class: 'nav-link'
      -#%li.nav-item
      -#  = link_to 'Sign out', main_app.logout_path, class: 'nav-link'
    -#%form.form-inline.mt-2.mt-md-0
    -#  %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "text"}/
    -#  %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search
