.top-bar
  .top-bar-left
    %ul.dropdown.menu{"data-dropdown-menu" => ""}
      %li.menu-text RPG Dice Roller
      %li{class: current_class?(genesys_path)}
        #{link_to "Genesys RPG", genesys_path}
      %li{class: current_class?(star_wars_path)}
        #{link_to "Star Wars RPG", star_wars_path}
      %li{class: current_class?(xwing_roll_path)}
        #{link_to "Star Wars X-wing minis", xwing_roll_path}
      %li{class: current_class?(polyhedron_roll_path)}
        #{link_to "Regular Dice", polyhedron_roll_path}
  .top-bar-right
    %ul.menu
      %li{class: ("active" if current_page('about'))}
        #{link_to 'About', about_path}
      %li= render 'layouts/kofi_donate'

-#%nav.top-bar{"data-topbar" => ""}
-#  %ul.title-area
-#    %li.name
-#      %h1= link_to 'RPG Dice Roller', root_path
-#    %li.toggle-topbar.menu-icon
-#      %a{href: "#"}
-#        %span Menu
-#  %section.top-bar-section
-#    / Right Nav Section
-#    %ul.right
-#      %li{class: ("active" if current_page('about'))}
-#        #{link_to 'About', about_path}
-#      /%li= render 'layouts/paypal_donate'
-#      %li= render 'layouts/kofi_donate'
-#
-#    / Left Nav Section
-#    %ul.left
-#      /%li.has-dropdown{class: ("active" if parent_page('rollers'))}
-#      /  %a{href: "#"} Dice Rollers
-#      /  %ul.dropdown
-#      %li{class: current_class?(genesys_path)}
-#        #{link_to "Genesys RPG", genesys_path}
-#      %li{class: current_class?(star_wars_path)}
-#        #{link_to "Star Wars RPG", star_wars_path}
-#      %li{class: current_class?(xwing_roll_path)}
-#        #{link_to "Star Wars X-wing minis", xwing_roll_path}
-#