-#!!!
-#%html{lang: "en"}
-#  %head
-#    %meta{charset: "utf-8"}/
-#    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
-#    %title
-#      = content_for?(:title) ? yield(:title) : (@title ? @title : "")
-#      | RPG Dice Roller
-#    = stylesheet_link_tag    "application"
-#    =# javascript_include_tag "vendor/modernizr", 'data-turbolinks-track': 'reload'
-#    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
-#    = csrf_meta_tags
-#  %body{ class: "#{controller_name} #{action_name}"}
-#    .row
-#      .small-12
-#        = render partial: 'layouts/main_menu'
-#    #flash_messages= render partial: 'layouts/flash'
-#    = yield
-#  =# render 'cookies_eu/consent_banner'
-#  =# javascript_include_tag "application"
-#
-#:javascript
-#  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
-#  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
-#  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
-#  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
-#
-#  ga('create', 'UA-63980058-1', 'auto');
-#  ga('send', 'pageview');
-#
!!!
%html.no-js{:lang => "en"}
  %head
    / Google Tag Manager
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MV9QMTW');
    / End Google Tag Manager

    :javascript
        document.documentElement.className += (window.self == window.top ? " top" : " framed");
    / Required meta tags
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / Place favicon.ico in the root directory
    %title
      = content_for?(:title) ? yield(:title) : (@title ? @title : "")
      | RPG Dice Roller
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "application", media: 'print'

    %script{:crossorigin => "anonymous", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :src => "https://code.jquery.com/jquery-3.2.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"}

    =# javascript_include_tag 'tinymce'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %link{:href => "https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css", :rel => "stylesheet", :type => "text/css"}/
    -#%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css", :rel => "stylesheet"}/
    =# stylesheet_link_tag "select2-bootstrap4-theme/dist/select2-bootstrap4.min", media: 'all'
    -#%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"}

  %body{:class => "#{controller_name} #{action_name}", data: {system: @system}}
    = render partial: 'layouts/gtm_noscript'
    = render partial: 'layouts/header'
    %main.container{:role => "main"}
      = render partial: 'layouts/flash'
      = yield

    / Optional JavaScript
    / jQuery first, then Popper.js, then Bootstrap JS
    /%script{:charset => "utf8", :src => "https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js", :type => "text/javascript"}
    = javascript_include_tag 'bootstrap'
    =# javascript_include_tag 'jquery.knob'
    =#:javascript
    =#  feather.replace()